<h1>新增<%= url_name(params[:controller].split('/').last) %></h1>

<%= render 'form', movie: @movie %>

<%= link_to manager_movies_path, class: "btn btn-primary" do %>
  <i class="fas fa-long-arrow-alt-left"></i> 返回
<% end%>
