
<%= render 'shared/show_tag', items: @all_names || [] %>

<div class="list">
  <% @movies.each do |movie|
    set_dir(MOVIE_DIR, movie)

    unless Dir.pwd == MOVIE_DIR %>
      <%= link_to movie do %>
        <div class="item">
          <div class="name">
            <%= movie.name %>
          </div>
          <div class="image">
            <%= image_tag movie.image.variant(resize: "140x198!") if movie.image.attached? %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
