/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

@media (min-width: 992px) {
  .container {
    #area {
      .row {
        width: 942px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .container {
    #area {
      .row {
        width: 1125px;
      }
    }
  }
}

@media (min-width: 1500px) {
  .container {
    max-width: 1290px;
    #area {
      .row {
        width: 1272px;
      }
    }
  }
}
@media (min-width: 1900px) {
  .container {
    max-width: 1600px;
    #area {
      .row {
        width: 1585px;
      }
    }
  }
}

html,body {
  height:100%;
}

body {
  margin:0;
  background-color: #ccc;
}

.container {
  background-color: #fff;
  height: 100%;
}

a:hover {
  text-decoration: none;
}

.right {
  float: right;
}

#area {
  background-color: #e0fff9eb;
  margin-top: .5rem;
  padding: .5rem;
  border-radius: .5rem;
  margin-bottom: .5rem;
  position: absolute;
  z-index: 5;
  top: 35px;
}

.index-times {
  top: 10px;
  position: absolute;
  right: 10px;
  z-index: 5;
}
