// Place all the styles related to the authors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hide, .hidden {
  display: none;
}

.tag_list {
  margin-bottom: 10px;
  .tag {
    cursor: pointer;
    &:hover {
      background-color: #0062cc;
    }
  }
}

.btn.right {
  margin-left: 5px;
}

.list {
  display: flex;
  justify-content:flex-start;
  flex-wrap: wrap;
}

.item {
  border: 1px solid grey;
  border-radius: 3px;
  width: 152px;
  height: 230px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  overflow: hidden;
  .name {
    color: grey;
  }
  .image {
  }
}

.file {
  margin-bottom: 5px;
}

.rating {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  .star {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    div {
      width: 15px;
      height: 30px;
      display: inline-block;
      background-size: contain;
    }
    .star-left {
      background-image: image-url("star-nil-halt-left.png");
      &.hover {
        background-image: image-url("star-full-halt-left.png");
      }
    }
    .star-right {
      position: absolute;
      background-image: image-url("star-nil-halt-right.png");
      &.hover {
        background-image: image-url("star-full-halt-right.png");
      }
    }
  }
}

.rating.show {
  .star {
    width: 20px;
    height: 20px;
    div {
      width: 10px;
      height: 20px;
      display: inline-block;
      background-size: contain;
    }
  }
}

.edit {
  padding: .5rem;
  border-radius: 5px;
  margin-top: .5rem;
  margin-bottom: .5rem;
  background-color: #f1f1f1;
}
