// Place all the styles related to the authors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hide {
  display: none;
}

.tag_list {
  margin-bottom: 10px;
  .tag {
    cursor: pointer;
    &:hover {
      background-color: #0062cc;
    }
  }
}

.list {
  display: flex;
  justify-content:flex-start;
}

.item {
  background-color: rgb(196, 241, 113);
  width: 150px;
  height: 200px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  overflow: hidden;
  .name {
    color: #fff;
  }
  .image {

  }
}

.file {
  margin-bottom: 5px;
}
